In [1]:
print('hello world')

hello world

In [2]:
print('Tom')

Tom

In [ ]:
#this is a comment
print ('Test')
#print('Test2')

Test

In [8]:
#variable
age=10
print(age)

10

In [ ]:
#data type is dynamic
name = 'Tom'
print(name)

age='tirty'
print(age)

Tom
tirty

In [ ]:
#variable- naming convention
name='Tom' #valid
name1='Tom' #valid
name_1='Tom' #valid 
# 1name='Tom' #invalid cannot start with number
# name$1='Tom' #invalid cannot use special characters
firstName='Tom' #valid  
Name='Tom' #valid but not recommended -Uppercase first letter reserved for class name

In [ ]:
# Data types
#Numbers- integer, float
#String -Str
#boolean - bool True/False
#Null- null

In [ ]:
#integer- Whole number
total=0
print(total)

num=100
print(num)

num1= 1000005244
print(num1)

In [11]:
#Float- decimal number

total=100.65
print(total)

data=15822.57575
print(data)
print (type(data)) #to check the data type

100.65
15822.57575
<class 'float'>

In [12]:
#String

char='w'
print(char)

name='Clayton'
print(name)
print(type(name)) #to check the data type

w
Clayton
<class 'str'>

In [13]:
#Boolean   
married=True
print(married)
print(type(married)) #to check the data type

True
<class 'bool'>

In [15]:
#Operators
num1=10
num2=5

additon=num1+num2
print(additon)

subtraction=num1-num2
print(subtraction)

multiplication=num1*num2
print(multiplication)

division=num1/num2
print(division)

modulus=num1%num2
print(modulus)

15
5
50
2.0
0

In [ ]:
#BODMAS -Order of operation
#BODMAS- Bracket, Order, Division, Multiplication, Addition, Subtraction
result=3+ (4*2)-3*2       
print(result)

5

In [19]:
firstName='Tom'
lastName='Hanks'

fullName=firstName+lastName
print(fullName)

fullName=firstName+' '+lastName
print(fullName)

TomHanks
Tom Hanks

In [25]:
name='Tom'  
age=30
print('My name is '+name+ ' and my age is '+str(age)) 

print ('{} is {} years old'.format(name, age)) #string formatting

print (f'{name} is {age} years old') #string formatting

#print ('Age: ' str(age))
       #string concatenation

My name is Tom and my age is 30
Tom is 30 years old
Tom is 30 years old

In [26]:
x='ArithmeticError'

print(x*3) #string multiplication

ArithmeticErrorArithmeticErrorArithmeticError

In [ ]:
#boolean operators
#true =1
#false =0
#and = *
#or = +

True and True
True or True

True

In [35]:
#Conditions (Decision making statements)
# if, else, elif

married = True
if married==True:   
    print('You are married')

married = False
if married==True:   
    print('You are married')
else:
    print('You are not married')

You are married
You are not married

In [39]:
temperature=30

if temperature>30:
    print('It is hot')
    print('Turning on AC ')
else:   
    print('It is cold')
    print('Turning on heater ')

It is cold
Turning on heater

In [40]:
temp=25
humidity=80

if temp>30 and humidity>70:
    print('It is hot and humid')
    print('Turning on AC ')

else:
    print('It is not hot and humid')
    print('Turning on heater ')

It is not hot and humid
Turning on heater

In [42]:
total=8000

if total>10000:
    print('You are eligible for 10% discount')
elif total>5000:
    print('You are eligible for 5% discount')           

elif total>2000:
    print('You are eligible for 2% discount')   

else:           
    print('You are not eligible for discount')

You are eligible for 5% discount

In [49]:
email = 'test@test.com'
password = 1234567
print('program starts')
if email == 'test@test.com' and password == 123456:
    print('Login successful')
else:
    print('Login failed')

print('program ends')
#Loops

program starts
Login failed
program ends

In [57]:
#inputs and outputs 

total =100.5000001
total1=100.50000000
print(total)
print (total1)

100.5000001
100.5

In [1]:
name= input('Enter your name: ')    
print('Hello '+name)

Hello clayton