In [3]:
person= {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "courses": ["Math", "Science", "History"],
    "married": False,
}

print(person)
print(person["age"])
print(person["courses"][2])
person['age']=35
person['School']="XYZ University"
print(person)
del person['is_student']
print(person)

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History'], 'married': False}
30
History
{'name': 'John Doe', 'age': 35, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History'], 'married': False, 'School': 'XYZ University'}
{'name': 'John Doe', 'age': 35, 'city': 'New York', 'courses': ['Math', 'Science', 'History'], 'married': False, 'School': 'XYZ University'}

In [5]:
person= {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "courses": ["Math", "Science", "History"],
    "married": False,
}

print (person.keys())
print (person.values())
print (person.items())

dict_keys(['name', 'age', 'city', 'is_student', 'courses', 'married'])
dict_values(['John Doe', 30, 'New York', False, ['Math', 'Science', 'History'], False])
dict_items([('name', 'John Doe'), ('age', 30), ('city', 'New York'), ('is_student', False), ('courses', ['Math', 'Science', 'History']), ('married', False)])

In [6]:
for key, value in person.items():
    print(f"{key}: {value}")

name: John Doe
age: 30
city: New York
is_student: False
courses: ['Math', 'Science', 'History']
married: False

In [8]:
#Nested Dictionary
# Nested Dictionary
student = {
    "John": {
        "name": "John Doe",
        "age": 30,
        "city": "New York",
        "is_student": False,
        "courses": ["Math", "Science", "History"],
        "married": False,
    },
    "Mary": {
        "name": "Mary Jane",
        "age": 25,
        "city": "Los Angeles",
        "is_student": True,
        "courses": ["Biology", "Chemistry"],
        "married": False,
    },
    "Mike": {
        "name": "Mike Smith",
        "age": 28,
        "city": "Chicago",
        "is_student": False,
        "courses": ["Physics", "Math"],
        "married": True,
    },
    "Alice": {
        "name": "Alice Johnson",
        "age": 22,
        "city": "San Francisco",
        "is_student": True,
        "courses": ["Art", "Design"],
        "married": False,
    },
    "Bob": {
        "name": "Bob Brown",
        "age": 35,
        "city": "Seattle",
        "is_student": False,
        "courses": ["Business", "Economics"],
        "married": True,
    },
    "Eve":{
        "name": "Eve Davis",
        "age": 27,
        "city": "Boston",
        "is_student": True,
        "courses": ["Psychology", "Sociology"],
        "married": False,   
    }
}

print(student['Eve'])
print(student['Mike']['courses'])

{'name': 'Eve Davis', 'age': 27, 'city': 'Boston', 'is_student': True, 'courses': ['Psychology', 'Sociology'], 'married': False}
['Physics', 'Math']

In [ ]:
results= [
    {'score': 85, 'subject': 'Math'},
    {'score': 90, 'subject': 'Science'},
    {'score': 78, 'subject': 'History'},
    {'score': 88, 'subject': 'English'},
    {'score': 92, 'subject': 'Art'},
    {'score': 95, 'subject': 'Music'},
]

for result in results:
    print(f"Score: {result['score']}, Subject: {result['subject']}")

for i,result in enumerate(results):
    print(i,result)

Score: 85, Subject: Math
Score: 90, Subject: Science
Score: 78, Subject: History
Score: 88, Subject: English
Score: 92, Subject: Art
Score: 95, Subject: Music
Result 1: Score: 85, Subject: Math
Result 2: Score: 90, Subject: Science
Result 3: Score: 78, Subject: History
Result 4: Score: 88, Subject: English
Result 5: Score: 92, Subject: Art
Result 6: Score: 95, Subject: Music